.button {
  width: 100%;
  height: 50px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 10px 0;
}

.buttonBackground {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../../public/assets/button-bg-1.png');
  background-size: cover;
  border-radius: 25px;
}

.buttonText {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}